<h1>Listing blog_posts</h1>

<table>
  <tr>
    <th>Site</th>
    <th>User</th>
    <th>Blog title</th>
    <th>Blog body</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blog_posts.each do |blog_post| %>
  <tr>
    <td><%= blog_post.site_id %></td>
    <td><%= blog_post.user_id %></td>
    <td><%= blog_post.blog_title %></td>
    <td><%= blog_post.blog_body %></td>
    <td><%= blog_post.tags %></td>
    <td><%= link_to 'Show', blog_post %></td>
    <td><%= link_to 'Edit', edit_blog_post_path(blog_post) %></td>
    <td><%= link_to 'Destroy', blog_post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog post', new_blog_post_path %>
