<h1>Listing users</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Username</th>
    <th>Password</th>
    <th>Site</th>
    <th>Email</th>
    <th>Work ph num</th>
    <th>Cell ph num</th>
    <th>Fax num</th>
    <th>Street address</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.firstname %></td>
    <td><%= user.lastname %></td>
    <td><%= user.username %></td>
    <td><%= user.password %></td>
    <td><%= user.site_id %></td>
    <td><%= user.email %></td>
    <td><%= user.work_ph_num %></td>
    <td><%= user.cell_ph_num %></td>
    <td><%= user.fax_num %></td>
    <td><%= user.street_address %></td>
    <td><%= user.city %></td>
    <td><%= user.state %></td>
    <td><%= user.zipcode %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
