<%= provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= render 'shared/error_messages', :object => @user %>
    <%= semantic_form_for @user do |f| %>
      <%= f.inputs do %>
        <%= f.input :firstname, :label => "First Name" %>
        <%= f.input :lastname, :label => "Last Name" %>  
        <%= f.input :email, :label => "E-mail" %>
        <%= f.input :password, :label => "Password" %>
        <%= f.input :password_confirmation, :label => "Password Confirmation" %>
      <% end %>
      <%= f.actions do %>
        <%=f.action :submit, :label => "Create account", 
          :button_html => { :class => "btn btn-large btn-primary" } %>
      <% end %>
    <% end %>
  </div>
</div>

