  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Local Falcon", root_path, id: "logo" %>
        <nav>
          <ul class="nav pull-left">
            <li class="divider-vertical"></li>
            <li><%= link_to "Pass-On", 'pass_on_path' %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Metrics", 'metrics_path' %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Contacts", 'contacts_path' %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Schedule", 'schedule_path' %></li>
            <li class="divider-vertical"></li>
          </ul>

          <ul class="nav pull-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Sign in", '#' %></li>
          <ul>
        </nav>
      </div>
    </div>  
  </header>
